cws-client/src/main/resources/share.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://ws1.cws.javadog.io/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:ns1="http://schemas.xmlsoap.org/soap/http"
                  name="shareService"
                  targetNamespace="http://ws1.cws.javadog.io/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://ws1.cws.javadog.io/" xmlns:ns1="api.cws.javadog.io" elementFormDefault="unqualified" targetNamespace="http://ws1.cws.javadog.io/" version="1.0">

  <xs:import namespace="api.cws.javadog.io"/>

  <xs:element name="fetchData" type="tns:fetchData"/>

  <xs:element name="fetchDataResponse" type="tns:fetchDataResponse"/>

  <xs:element name="fetchDataTypes" type="tns:fetchDataTypes"/>

  <xs:element name="fetchDataTypesResponse" type="tns:fetchDataTypesResponse"/>

  <xs:element name="processData" type="tns:processData"/>

  <xs:element name="processDataResponse" type="tns:processDataResponse"/>

  <xs:element name="processDataType" type="tns:processDataType"/>

  <xs:element name="processDataTypeResponse" type="tns:processDataTypeResponse"/>

  <xs:element name="sign" type="tns:sign"/>

  <xs:element name="signResponse" type="tns:signResponse"/>

  <xs:element name="verify" type="tns:verify"/>

  <xs:element name="verifyResponse" type="tns:verifyResponse"/>

  <xs:complexType name="processData">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="ns1:processDataRequest"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="processDataResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns1:processDataResponse"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="fetchDataTypes">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="ns1:fetchDataTypeRequest"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="fetchDataTypesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns1:fetchDataTypeResponse"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="fetchData">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="ns1:fetchDataRequest"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="fetchDataResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns1:fetchDataResponse"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="verify">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="ns1:verifyRequest"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="verifyResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns1:verifyResponse"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="sign">
    <xs:sequence>
      <xs:element minOccurs="0" name="request" type="ns1:signRequest"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="signResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="response" type="ns1:signResponse"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="processDataType">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="ns1:processDataTypeRequest"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="processDataTypeResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns1:processDataTypeResponse"/>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="classification">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CLASS_INFO"/>
      <xs:enumeration value="CLASS_WARNING"/>
      <xs:enumeration value="CLASS_ERROR"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="api.cws.javadog.io" targetNamespace="api.cws.javadog.io" version="1.0">

  <xs:complexType final="extension restriction" name="processDataRequest">
    <xs:complexContent>
      <xs:extension base="tns:authentication">
        <xs:sequence>
          <xs:element name="action" type="tns:action"/>
          <xs:element name="dataId" nillable="true" type="xs:string"/>
          <xs:element name="data" nillable="true" type="tns:data"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="authentication">
    <xs:complexContent>
      <xs:extension base="tns:verifiable">
        <xs:sequence>
          <xs:element name="account" type="xs:string"/>
          <xs:element name="credentialType" type="tns:credentialType"/>
          <xs:element maxOccurs="unbounded" name="credential" type="xs:unsignedShort"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType abstract="true" name="verifiable">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="data">
    <xs:complexContent>
      <xs:extension base="tns:verifiable">
        <xs:sequence>
          <xs:element name="id" nillable="true" type="xs:string"/>
          <xs:element name="circleId" nillable="true" type="xs:string"/>
          <xs:element name="folderId" nillable="true" type="xs:string"/>
          <xs:element name="name" nillable="true" type="xs:string"/>
          <xs:element name="typeName" type="xs:string"/>
          <xs:element name="bytes" nillable="true" type="xs:base64Binary"/>
          <xs:element minOccurs="0" name="added" type="xs:dateTime"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="processDataResponse">
    <xs:complexContent>
      <xs:extension base="tns:cwsResponse">
        <xs:sequence>
          <xs:element name="id" type="tns:data"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="cwsResponse">
    <xs:sequence>
      <xs:element name="returnCode" type="tns:returnCode"/>
      <xs:element name="returnMessage" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="fetchDataTypeRequest">
    <xs:complexContent>
      <xs:extension base="tns:authentication">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="fetchDataTypeResponse">
    <xs:complexContent>
      <xs:extension base="tns:cwsResponse">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="types" type="tns:dataType"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="dataType">
    <xs:complexContent>
      <xs:extension base="tns:verifiable">
        <xs:sequence>
          <xs:element name="name" type="xs:string"/>
          <xs:element name="type" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="fetchDataRequest">
    <xs:complexContent>
      <xs:extension base="tns:authentication">
        <xs:sequence>
          <xs:element name="dataType" nillable="true" type="tns:dataType"/>
          <xs:element name="circleId" nillable="true" type="xs:string"/>
          <xs:element name="dataId" nillable="true" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="fetchDataResponse">
    <xs:complexContent>
      <xs:extension base="tns:cwsResponse">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="data" type="tns:data"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="verifyRequest">
    <xs:complexContent>
      <xs:extension base="tns:authentication">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="verifyResponse">
    <xs:complexContent>
      <xs:extension base="tns:cwsResponse">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="signRequest">
    <xs:complexContent>
      <xs:extension base="tns:authentication">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="signResponse">
    <xs:complexContent>
      <xs:extension base="tns:cwsResponse">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="processDataTypeRequest">
    <xs:complexContent>
      <xs:extension base="tns:authentication">
        <xs:sequence>
          <xs:element name="action" type="tns:action"/>
          <xs:element name="dataType" type="tns:dataType"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="processDataTypeResponse">
    <xs:complexContent>
      <xs:extension base="tns:cwsResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="dataType" type="tns:dataType"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:simpleType name="action">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NONE"/>
      <xs:enumeration value="PROCESS"/>
      <xs:enumeration value="INVITE"/>
      <xs:enumeration value="DELETE"/>
      <xs:enumeration value="ADD"/>
      <xs:enumeration value="ALTER"/>
      <xs:enumeration value="REMOVE"/>
      <xs:enumeration value="REKEY"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="credentialType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="KEY"/>
      <xs:enumeration value="PASSPHRASE"/>
      <xs:enumeration value="SIGNATURE"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="returnCode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="SUCCESS"/>
      <xs:enumeration value="ERROR"/>
      <xs:enumeration value="DATABASE_ERROR"/>
      <xs:enumeration value="CONSTRAINT_ERROR"/>
      <xs:enumeration value="PROPERTY_ERROR"/>
      <xs:enumeration value="CRYPTO_ERROR"/>
      <xs:enumeration value="IDENTIFICATION_ERROR"/>
      <xs:enumeration value="NOTIMPLEMENTED_ERROR"/>
      <xs:enumeration value="WARNING"/>
      <xs:enumeration value="AUTHENTICATION_WARNING"/>
      <xs:enumeration value="AUTHORIZATION_WARNING"/>
      <xs:enumeration value="VERIFICATION_WARNING"/>
      <xs:enumeration value="IDENTIFICATION_WARNING"/>
      <xs:enumeration value="ILLEGAL_ACTION"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="fetchDataResponse">
    <wsdl:part element="tns:fetchDataResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="processDataTypeResponse">
    <wsdl:part element="tns:processDataTypeResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="processData">
    <wsdl:part element="tns:processData" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="fetchDataTypes">
    <wsdl:part element="tns:fetchDataTypes" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="fetchData">
    <wsdl:part element="tns:fetchData" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="fetchDataTypesResponse">
    <wsdl:part element="tns:fetchDataTypesResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="processDataResponse">
    <wsdl:part element="tns:processDataResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="verify">
    <wsdl:part element="tns:verify" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="verifyResponse">
    <wsdl:part element="tns:verifyResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sign">
    <wsdl:part element="tns:sign" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="processDataType">
    <wsdl:part element="tns:processDataType" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="signResponse">
    <wsdl:part element="tns:signResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="share">
    <wsdl:operation name="processData">
      <wsdl:input message="tns:processData" name="processData">
    </wsdl:input>
      <wsdl:output message="tns:processDataResponse" name="processDataResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="fetchDataTypes">
      <wsdl:input message="tns:fetchDataTypes" name="fetchDataTypes">
    </wsdl:input>
      <wsdl:output message="tns:fetchDataTypesResponse" name="fetchDataTypesResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="fetchData">
      <wsdl:input message="tns:fetchData" name="fetchData">
    </wsdl:input>
      <wsdl:output message="tns:fetchDataResponse" name="fetchDataResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="verify">
      <wsdl:input message="tns:verify" name="verify">
    </wsdl:input>
      <wsdl:output message="tns:verifyResponse" name="verifyResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sign">
      <wsdl:input message="tns:sign" name="sign">
    </wsdl:input>
      <wsdl:output message="tns:signResponse" name="signResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="processDataType">
      <wsdl:input message="tns:processDataType" name="processDataType">
    </wsdl:input>
      <wsdl:output message="tns:processDataTypeResponse" name="processDataTypeResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="shareServiceSoapBinding" type="tns:share">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="fetchData">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="fetchData">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="fetchDataResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="fetchDataTypes">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="fetchDataTypes">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="fetchDataTypesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="processData">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="processData">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="processDataResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="verify">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="verify">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="verifyResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sign">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="sign">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="signResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="processDataType">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="processDataType">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="processDataTypeResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="shareService">
    <wsdl:port binding="tns:shareServiceSoapBinding" name="share">
      <soap:address location="http://sn-0000655:57211/cws/shareService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
