cws-client-soap/src/main/resources/share.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://ws.cws.javadog.io/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  name="share" targetNamespace="http://ws.cws.javadog.io/">
    <wsdl:documentation>
      Service: Cryptographic WebStore Share Service
      Version: 1.1
      Owner: JavaDog.io
    </wsdl:documentation>
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://ws.cws.javadog.io/" targetNamespace="http://ws.cws.javadog.io/" version="1.1">

  <xs:element name="fetchData" type="tns:fetchData"/>

  <xs:element name="fetchDataRequest" type="tns:fetchDataRequest"/>

  <xs:element name="fetchDataResponse" type="tns:fetchDataResponse"/>

  <xs:element name="fetchDataResult" type="tns:fetchDataResult"/>

  <xs:element name="fetchDataTypeRequest" type="tns:fetchDataTypeRequest"/>

  <xs:element name="fetchDataTypeResult" type="tns:fetchDataTypeResult"/>

  <xs:element name="fetchDataTypes" type="tns:fetchDataTypes"/>

  <xs:element name="fetchDataTypesResponse" type="tns:fetchDataTypesResponse"/>

  <xs:element name="fetchSignatureRequest" type="tns:fetchSignatureRequest"/>

  <xs:element name="fetchSignatureResult" type="tns:fetchSignatureResult"/>

  <xs:element name="fetchSignatures" type="tns:fetchSignatures"/>

  <xs:element name="fetchSignaturesResponse" type="tns:fetchSignaturesResponse"/>

  <xs:element name="processData" type="tns:processData"/>

  <xs:element name="processDataRequest" type="tns:processDataRequest"/>

  <xs:element name="processDataResponse" type="tns:processDataResponse"/>

  <xs:element name="processDataResult" type="tns:processDataResult"/>

  <xs:element name="processDataType" type="tns:processDataType"/>

  <xs:element name="processDataTypeRequest" type="tns:processDataTypeRequest"/>

  <xs:element name="processDataTypeResponse" type="tns:processDataTypeResponse"/>

  <xs:element name="processDataTypeResult" type="tns:processDataTypeResult"/>

  <xs:element name="sign" type="tns:sign"/>

  <xs:element name="signRequest" type="tns:signRequest"/>

  <xs:element name="signResponse" type="tns:signResponse"/>

  <xs:element name="signResult" type="tns:signResult"/>

  <xs:element name="verify" type="tns:verify"/>

  <xs:element name="verifyRequest" type="tns:verifyRequest"/>

  <xs:element name="verifyResponse" type="tns:verifyResponse"/>

  <xs:element name="verifyResult" type="tns:verifyResult"/>

  <xs:complexType name="processData">
    <xs:sequence>
      <xs:element minOccurs="0" name="request" type="tns:processDataRequest"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="processDataRequest">
    <xs:complexContent>
      <xs:extension base="tns:authentication">
        <xs:sequence>
          <xs:element name="action" type="tns:action"/>
          <xs:element minOccurs="0" name="dataId" type="xs:string"/>
          <xs:element minOccurs="0" name="circleId" type="xs:string"/>
          <xs:element minOccurs="0" name="targetCircleId" type="xs:string"/>
          <xs:element minOccurs="0" name="dataName" type="xs:string"/>
          <xs:element minOccurs="0" name="folderId" type="xs:string"/>
          <xs:element minOccurs="0" name="targetFolderId" type="xs:string"/>
          <xs:element minOccurs="0" name="typeName" type="xs:string"/>
          <xs:element minOccurs="0" name="data" type="xs:base64Binary"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="authentication">
    <xs:complexContent>
      <xs:extension base="tns:verifiable">
        <xs:sequence>
          <xs:element name="accountName" type="xs:string"/>
          <xs:element name="credential" type="xs:base64Binary"/>
          <xs:element name="credentialType" type="tns:credentialType"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType abstract="true" name="verifiable">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="processDataResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="response" type="tns:processDataResult"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="processDataResult">
    <xs:complexContent>
      <xs:extension base="tns:cwsResult">
        <xs:sequence>
          <xs:element name="dataId" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="cwsResult">
    <xs:sequence>
      <xs:element name="returnCode" type="xs:int"/>
      <xs:element name="returnMessage" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="fetchDataTypes">
    <xs:sequence>
      <xs:element minOccurs="0" name="request" type="tns:fetchDataTypeRequest"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="fetchDataTypeRequest">
    <xs:complexContent>
      <xs:extension base="tns:authentication">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="fetchDataTypesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="response" type="tns:fetchDataTypeResult"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="fetchDataTypeResult">
    <xs:complexContent>
      <xs:extension base="tns:cwsResult">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" name="dataTypes" type="tns:dataType"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="dataType">
    <xs:sequence>
      <xs:element name="typeName" type="xs:string"/>
      <xs:element name="type" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="fetchData">
    <xs:sequence>
      <xs:element minOccurs="0" name="request" type="tns:fetchDataRequest"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="fetchDataRequest">
    <xs:complexContent>
      <xs:extension base="tns:authentication">
        <xs:sequence>
          <xs:element minOccurs="0" name="circleId" type="xs:string"/>
          <xs:element minOccurs="0" name="dataId" type="xs:string"/>
          <xs:element minOccurs="0" name="pageNumber" type="xs:int"/>
          <xs:element minOccurs="0" name="pageSize" type="xs:int"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="fetchDataResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="response" type="tns:fetchDataResult"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="fetchDataResult">
    <xs:complexContent>
      <xs:extension base="tns:cwsResult">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" name="metadata" type="tns:metadata"/>
          <xs:element name="records" type="xs:long"/>
          <xs:element name="data" type="xs:base64Binary"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="metadata">
    <xs:sequence>
      <xs:element name="dataId" type="xs:string"/>
      <xs:element name="circleId" type="xs:string"/>
      <xs:element name="folderId" type="xs:string"/>
      <xs:element name="dataName" type="xs:string"/>
      <xs:element name="typeName" type="xs:string"/>
      <xs:element name="added" type="xs:dateTime"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="sign">
    <xs:sequence>
      <xs:element minOccurs="0" name="request" type="tns:signRequest"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="signRequest">
    <xs:complexContent>
      <xs:extension base="tns:authentication">
        <xs:sequence>
          <xs:element name="data" type="xs:base64Binary"/>
          <xs:element minOccurs="0" name="expires" type="xs:dateTime"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="signResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="response" type="tns:signResult"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="signResult">
    <xs:complexContent>
      <xs:extension base="tns:cwsResult">
        <xs:sequence>
          <xs:element name="signature" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="verify">
    <xs:sequence>
      <xs:element minOccurs="0" name="request" type="tns:verifyRequest"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="verifyRequest">
    <xs:complexContent>
      <xs:extension base="tns:authentication">
        <xs:sequence>
          <xs:element name="signature" type="xs:string"/>
          <xs:element name="data" type="xs:base64Binary"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="verifyResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="response" type="tns:verifyResult"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="verifyResult">
    <xs:complexContent>
      <xs:extension base="tns:cwsResult">
        <xs:sequence>
          <xs:element name="verified" type="xs:boolean"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="fetchSignatures">
    <xs:sequence>
      <xs:element minOccurs="0" name="request" type="tns:fetchSignatureRequest"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="fetchSignatureRequest">
    <xs:complexContent>
      <xs:extension base="tns:authentication">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="fetchSignaturesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="response" type="tns:fetchSignatureResult"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="fetchSignatureResult">
    <xs:complexContent>
      <xs:extension base="tns:cwsResult">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" name="signatures" type="tns:signature"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="signature">
    <xs:sequence>
      <xs:element minOccurs="0" name="checksum" type="xs:string"/>
      <xs:element minOccurs="0" name="expires" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="verifications" type="xs:long"/>
      <xs:element minOccurs="0" name="lastVerification" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="added" type="xs:dateTime"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="processDataType">
    <xs:sequence>
      <xs:element minOccurs="0" name="request" type="tns:processDataTypeRequest"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="processDataTypeRequest">
    <xs:complexContent>
      <xs:extension base="tns:authentication">
        <xs:sequence>
          <xs:element name="action" type="tns:action"/>
          <xs:element name="typeName" type="xs:string"/>
          <xs:element minOccurs="0" name="type" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="processDataTypeResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="response" type="tns:processDataTypeResult"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="processDataTypeResult">
    <xs:complexContent>
      <xs:extension base="tns:cwsResult">
        <xs:sequence>
          <xs:element name="dataType" type="tns:dataType"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:simpleType name="action">
    <xs:restriction base="xs:string">
      <xs:enumeration value="PROCESS"/>
      <xs:enumeration value="CREATE"/>
      <xs:enumeration value="UPDATE"/>
      <xs:enumeration value="INVITE"/>
      <xs:enumeration value="LOGIN"/>
      <xs:enumeration value="LOGOUT"/>
      <xs:enumeration value="DELETE"/>
      <xs:enumeration value="ADD"/>
      <xs:enumeration value="COPY"/>
      <xs:enumeration value="MOVE"/>
      <xs:enumeration value="ALTER"/>
      <xs:enumeration value="INVALIDATE"/>
      <xs:enumeration value="REMOVE"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="credentialType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="PASSPHRASE"/>
      <xs:enumeration value="SESSION"/>
      <xs:enumeration value="SIGNATURE"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="processDataResponse">
    <wsdl:part element="tns:processDataResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="fetchDataResponse">
    <wsdl:part element="tns:fetchDataResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="processDataTypeResponse">
    <wsdl:part element="tns:processDataTypeResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sign">
    <wsdl:part element="tns:sign" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="processDataType">
    <wsdl:part element="tns:processDataType" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="fetchDataTypesResponse">
    <wsdl:part element="tns:fetchDataTypesResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="processData">
    <wsdl:part element="tns:processData" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="fetchDataTypes">
    <wsdl:part element="tns:fetchDataTypes" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="fetchData">
    <wsdl:part element="tns:fetchData" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="signResponse">
    <wsdl:part element="tns:signResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="verifyResponse">
    <wsdl:part element="tns:verifyResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="verify">
    <wsdl:part element="tns:verify" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="fetchSignaturesResponse">
    <wsdl:part element="tns:fetchSignaturesResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="fetchSignatures">
    <wsdl:part element="tns:fetchSignatures" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="share">
    <wsdl:documentation>The Share Service, is part of the CWS, offering the core
    part of the Business Logic, i.e. the part which will most often be used by
    various Clients and as part of other services.</wsdl:documentation>
    <wsdl:operation name="processData">
      <wsdl:input message="tns:processData" name="processData">
    </wsdl:input>
      <wsdl:output message="tns:processDataResponse" name="processDataResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="fetchDataTypes">
      <wsdl:input message="tns:fetchDataTypes" name="fetchDataTypes">
    </wsdl:input>
      <wsdl:output message="tns:fetchDataTypesResponse" name="fetchDataTypesResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="fetchData">
      <wsdl:input message="tns:fetchData" name="fetchData">
    </wsdl:input>
      <wsdl:output message="tns:fetchDataResponse" name="fetchDataResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sign">
      <wsdl:input message="tns:sign" name="sign">
    </wsdl:input>
      <wsdl:output message="tns:signResponse" name="signResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="verify">
      <wsdl:input message="tns:verify" name="verify">
    </wsdl:input>
      <wsdl:output message="tns:verifyResponse" name="verifyResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="fetchSignatures">
      <wsdl:input message="tns:fetchSignatures" name="fetchSignatures">
    </wsdl:input>
      <wsdl:output message="tns:fetchSignaturesResponse" name="fetchSignaturesResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="processDataType">
      <wsdl:input message="tns:processDataType" name="processDataType">
    </wsdl:input>
      <wsdl:output message="tns:processDataTypeResponse" name="processDataTypeResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="shareSoapBinding" type="tns:share">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="fetchData">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="fetchData">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="fetchDataResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="fetchDataTypes">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="fetchDataTypes">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="fetchDataTypesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="processData">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="processData">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="processDataResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sign">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="sign">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="signResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="verify">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="verify">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="verifyResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="fetchSignatures">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="fetchSignatures">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="fetchSignaturesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="processDataType">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="processDataType">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="processDataTypeResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="share">
    <wsdl:port binding="tns:shareSoapBinding" name="share">
      <soap:address location="http://localhost:8080/cws/share"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
